#APP
APP_NAME=wedding

#DB SETTINGS
DB_ROOT_PASSWORD=password
WP_DB=myweddingdb
WP_DB_USER=wp_wedding
WP_DB_PASSWORD=wp_pass

#WP SETTINGS
WP_PORT=8080
WP_DEBUG=true
WP_STATIC_IP=172.23.0.23 #Changing this line could result in inability to communicate with the local wordpress API

#FRONTITY
FRONTITY_BUILD_DEVELOPMENT=true
FRONTITY_DEV_PORT=3000 #Used for development
FRONTITY_SERVE_PORT=8080 #Used when making prod build