version: '3'

services:
  # Database
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    container_name: ${APP_NAME}-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${WP_DB}
      MYSQL_USER: ${WP_DB_USER}
      MYSQL_PASSWORD: ${WP_DB_PASSWORD}
    networks:
      - wpsite
  # phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD} 
    networks:
      - wpsite
    container_name: ${APP_NAME}-phpmyadmin
  # Wordpress
  wordpress:
    depends_on:
      - db
    # image: wordpress:latest
    ports:
      - "${WP_PORT}:80"
      - "443:443"
    restart: always
    volumes: ['./wp-content:/var/www/html/wp-content']
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: ${WP_DB}
      WORDPRESS_DB_USER: ${WP_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WP_DB_PASSWORD}
      WORDPRESS_DEBUG: ${WP_DEBUG}
    build:
      context: .
      dockerfile: Dockerfile.wordpress
      args:
        - WORDPRESS_DB_HOST=db:3306
        - WORDPRESS_DB_NAME=${WP_DB}
        - WORDPRESS_DB_USER=${WP_DB_USER}
        - WORDPRESS_DB_PASSWORD=${WP_DB_PASSWORD}
        - WORDPRESS_DEBUG=${WP_DEBUG}
    networks:
      wpsite:
        ipv4_address: ${WP_STATIC_IP}
    container_name: ${APP_NAME}-wordpress
  # Frontity 
  web:
    depends_on:
      - wordpress
    container_name: ${APP_NAME}-frontity
    image: frontity-app
    build: 
      context: .
      dockerfile: Dockerfile.dev
      args:
        - FRONTITY_NAME=${APP_NAME}
        - FRONTITY_DEV_PORT=${FRONTITY_DEV_PORT}
        - FRONTITY_SERVE_PORT=${FRONTITY_SERVE_PORT}
        - FRONTITY_BUILD_DEVELOPMENT=${FRONTITY_BUILD_DEVELOPMENT}
    volumes: ['./${APP_NAME}:/usr/src/app']
    ports:
      - "${FRONTITY_DEV_PORT}:3000"
    networks:
      - wpsite
networks:
  wpsite:
    ipam:
      config:
        - subnet: 172.23.0.0/16
volumes:
  db_data: